/* General Styles */
*{
    box-sizing: content-box;
    margin: 0px;
    padding: 0px;
}

html, body{
    height: 100vh;
    width: 100vw;
}

/* Colors */
a{
    color: coral;

}

h1{
    color: salmon;
}

h2{
    color: sandybrown;
}

input{
    border: 1px solid rgb(108, 110, 72)
}
/* Typography */
h1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 2rem;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 1.5rem;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}

/* Layout */
body{
    display: flex;
    justify-content: center;
}

#container-portfolio{
    background-color: sandybrown;
    width: 300px;

    flex-direction: column;
}

header{
    background-color: seagreen;
    flex-grow: 1;
}

#container-wrapper{
    background-color: skyblue;
    flex-grow: 5;
    display: flex;
}

aside{
    background-color: tan;
    flex-grow: 4;
    display: flex;
    flex-direction: column;
}

article{
    background-color: thistle;
    flex-grow: 5;
    display: flex;
    flex-direction: column;
}

/* Components and their states */
.profile-info{
    background-color: blueviolet;
    flex-grow: 1;
}

.personal-info{
    flex-grow: 1;
}
